<div class="flex flex-col">
    <%= render "navbar" %>

    <div class="flex justify-center h-screen px-20 py-40 bg-gray-50">
        <h1 class="text-4xl font-extrabold">CHORE$ & COIN$</h1>
    </div>
</div>
