<div>
  <div class="flex justify-between items-center py-5 px-20 bg-[#F8F9FC]">
    <h1 class="text-1xl">Sons</h1>
    <%= link_to "New Son", admin_sons_new_path, class: "bg-[#4337CA] hover:bg-blue-700 text-white text-sm font-Roboto py-2 px-10 rounded" %>
  </div>
</div>