<div class="flex-col">
  <%= render "dashboard/navbar" %>

  <h1 class="text-5xl font-extrabold  mt-10 text-center">ACTIVITIES</h1>

  <div class="flex justify-center px-20 pb-40 pt-10 gap-10 flex-wrap">
      <% @activities.each do |activity| %>
          <div class="max-w-sm bg-purple-900 w-96 rounded-lg overflow-hidden mx-auto">
              <div class="py-4 px-6">
                  <%= image_tag("arena.png", class: "w-full h-48 object-cover") %>
                  <h2 class="text-white text-center my-5 font-bold text-2xl mb-2"><%= activity.name %></h2>
                  <%= link_to "Go to task", activity_path(activity.id), class: "block text-center bg-white text-purple-600 text-lg font-bold py-2 px-4 mt-4 rounded-lg hover:bg-purple-700 hover:text-white" %>
              </div>
          </div>
      <% end %>
  </div>

  <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="activities/new">
    Add Activity
  </a>
</div>
