<div class="flex-col">
  <%= render "dashboard/navbar" %>

  <h1 class="text-3xl font-bold mt-5">Activities</h1>

  <ul>
    <% @activities.each do |activity| %>
      <li>
        <%= link_to activity.name, activity %>
        <%= activity.description %>
        <%= activity.completed %>
      </li>
    <% end %>
  </ul>

  <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="activities/new">
    Add Activity
  </a>
</div>
