<div class="flex-col">
  <%= render "dashboard/navbar" %>

  <div class="px-20">
    <div class="flex justify-between items-center mt-10">
      <h1 class="text-2xl font-extrabold">Activities</h1>
      <a class="bg-[#4237CA] hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="activities/new">
        Add Activity
      </a>
    </div>

    <div class="flex justify-center pb-40 pt-10">
        <% @activities.each do |activity| %>
            <div class="bg-[#4237CA] h-auto rounded-lg overflow-hidden mx-auto">
                <div class="py-4 px-6">
                    <h2 class="text-white text-center my-5 font-extrabold text-1xl mb-2"><%= activity.name %></h2>
                    <%= link_to "Go to task", activity_path(activity.id), class: "block text-center bg-white text-[#4237CA] text-lg font-bold py-2 px-4 mt-4 rounded-lg hover:bg-gray-200" %>
                </div>
            </div>
        <% end %>
    </div>
  </div>
</div>
