<div class="flex flex-col">
    <h1 class="text-3xl font-bold my-5 text-center">New Activity</h1>
    <div class="flex justify-center">
        <%= render "form", activity: @activity %>
    </div>
</div>